.Photo {
  display: block;
  width: 100%;
  padding: 10px;
}

.Frame {
  border: 1px solid black;
}

.Photo img {
  display: block;
  margin: auto;
}

@media (min-width: 400px) {
  .Photo {
    width: 50%;
  }
}

@media (min-width: 800px) {
  .Photo {
    width: 25%;
  }
}